.model__container {
  position: absolute;
}
.modal__overlay {
  background-color: rgba(0 0 0 /0.2);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 50;
}
.modal__content {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0 0 0 /0.2);
  width: 500px;

  & > .modal__title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
  }

  & > .modal__actions {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;

    & > .modal__action {
      flex: 1;
      text-align: center;
      padding: 10px 20px;
      border-radius: 8px;
      border: 1px solid var(--color-divider);
      cursor: pointer;
      margin-right: 10px;
      background-color: #fff;
      transition:
        background-color 0.2s,
        color 0.2s;

      &:hover {
        background-color: var(--color-background-soft);
      }

      &--cancel {
        &:hover {
          background-color: var(--color-beige-main);
        }
      }

      &--accept {
        color: var(--color-tomato-main);
        border: 1px solid var(--color-tomato-main);

        &:hover {
          background-color: var(--color-tomato-main);
          color: var(--color-white-main);
        }
      }
    }
  }
}
