.product-item {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  padding: 2px 0;
  position: relative;

  &:hover {
    background-color: var(--color-background-soft);
  }

  & > .item__image {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 90%;
      height: 90%;
      object-fit: contain;
    }
  }

  & > .item__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > .item__title {
      width: 100%;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      overflow: hidden;
      // white-space: nowrap;
      -webkit-box-orient: vertical;
    }

    & > .item__price {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > .item__price-detail {
        .price__basic {
          font-size: 16px;
        }
        .price__items-count {
          color: var(--color-gray-main);
          margin-left: 5px;
          font-size: 14px;
        }
      }
      & > .item__price-total {
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}
