.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-divider);
  padding-bottom: 20px;

  & > .header__logo {
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
  }

  & > .header__menu {
    font-weight: 700;
    display: flex;
    list-style-type: none;
    gap: 25px;

    & > .header__menu-item {
      position: relative;
      cursor: pointer;

      &::after {
        content: '';
        display: block;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background-color: var(--color-black-main);
        transform: scaleX(0);
        transition: transform 0.3s;
        transform-origin: left;
      }

      &:hover {
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }

  & > .header__user-info {
    display: flex;
    align-items: center;
    gap: 20px;

    .user-avatar {
      cursor: pointer;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
